# Ignore files and directories that start with the name "link_api"
link_api/

# Other files and directories to ignore
*.DS_Store
__pycache__/

/creation_times.json
/predicted_images/
/audio_files/
/git_pull.sh
/rerun_ngrok.sh
