python_version== 3.10.11
attr==0.3.2
brotli==1.0.9
ConfigParser==6.0.0
cryptography==41.0.3
Cython==3.0.0
dl==0.1.0
docutils==0.20.1
fastapi==0.101.1
HTMLParser==0.0.2
importlib_metadata==6.8.0
ipython==8.14.0
ipywidgets==8.1.0
Jinja2==3.1.2
jnius==1.1.0
keyring==24.2.0
librosa==0.10.0.post2
lockfile==0.12.2
lxml==4.9.3
numpy==1.24.4
openai==0.27.8
ordereddict==1.1
Pillow==10.0.0
pillow_heif==0.12.0
protobuf==4.24.1
pydantic==2.2.1
pyOpenSSL==23.2.0
railroad==0.5.0
Sphinx==7.2.2
toml==0.10.2
tornado==6.3.3
ultralytics==8.0.124
xmlrpclib==1.0.1
zipp==3.16.2
